<div class="grass">
    <div class="field">
        <table class="table table-bordered">
            <tbody>
            <tr>
                <td class="no-b no-r"><c-player-box></c-player-box></td>
                <td class="no-b no-l b-r"><c-player-box></c-player-box></td>
                <td class="no-b no-r b-l"><c-player-box></c-player-box></td>
                <td class="no-b no-l"><c-player-box></c-player-box></td>
            </tr>
            <tr>
                <td class="no-b no-t no-r"><c-player-box></c-player-box></td>
                <td class="no-b no-t no-l b-r"><c-player-box></c-player-box></td>
                <td class="no-b no-t no-r b-l"><c-player-box></c-player-box></td>
                <td class="no-b no-t no-l"><c-player-box></c-player-box></td>
            </tr>
            <tr>
                <td class="no-t no-r"><c-player-box></c-player-box></td>
                <td class="no-t no-l b-r"><c-player-box></c-player-box></td>
                <td class="no-t no-r b-l"><c-player-box></c-player-box></td>
                <td class="no-t no-l"><c-player-box></c-player-box></td>
            </tr>
            </tbody>
        </table>
    </div>

</div>