<form class="form-horizontal">
    <div class="form-group">
        <label class="col-md-3 control-label">ISBN</label>
        <div class="col-md-4">
            <input type="text"
                   ng-model="$ctrl.bookDetails.isbn"
                   class="form-control">
        </div>
        <div class="col-md-5">
            <div class="form-control-static text-muted">
                Try load data from <strong>isbndb.com</strong>: <button class="btn btn-default btn-xs">load</button>
            </div>

        </div>
    </div>
    <div class="form-group">
        <label class="col-md-3 control-label">Title *</label>
        <div class="col-md-9">
            <input type="text"
                   ng-model="$ctrl.bookDetails.title"
                   required
                   ng-maxlength="30"
                   class="form-control">
            <div class="help-block">max 30 characters</div>
        </div>
    </div>
    <div class="form-group">
        <label class="col-md-3 control-label">Authors *</label>
        <div class="col-md-9">
            <table class="table table-condensed authors">
                <thead>
                <tr>
                    <th>First name <small class="text-muted">(max 30 characters)</small></th>
                    <th>Last name <small class="text-muted">(max 30 characters)</small></th>
                    <th></th>
                </tr>
                </thead>
                <tbody>
                <tr ng-repeat="author in $ctrl.bookDetails.authorData">
                    <td>
                        <input type="text"
                               required
                               ng-maxlength="20"
                               ng-model="author.firstName"
                               class="form-control">
                    </td>
                    <td>
                        <input type="text"
                               ng-model="author.lastName"
                               ng-maxlength="20"
                               required
                               class="form-control">
                    </td>
                    <td>
                        <span class="glyphicon glyphicon-remove cursor-pointer"
                              ng-if="$ctrl.bookDetails.authorData.length > 1"
                              ng-click="$ctrl.removeRow($ctrl.bookDetails.authorData, $index)"
                              title="Remove"></span>
                    </td>
                </tr>
                <tr>
                    <td>
                        <span
                           class="glyphicon glyphicon-plus cursor-pointer"
                           ng-click="$ctrl.addRow($ctrl.bookDetails.authorData)"
                           title="Add author">
                        </span>
                    </td>
                    <td></td>
                    <td></td>
                </tr>
                </tbody>
            </table>
        </div>
    </div>
    <div class="form-group">
        <label class="col-md-3 control-label">Number of pages *</label>
        <div class="col-md-2">
            <input type="number"
                   required
                   ng-model="$ctrl.bookDetails.pageCount"
                   ng-min="1"
                   ng-max="10001"
                   class="form-control">
        </div>
        <div class="col-md-7">
            <div class="form-control-static text-muted">1-10000 characters</div>
        </div>
    </div>
    <div class="form-group">
        <label class="col-md-3 control-label">Publication year</label>
        <div class="col-md-2">
            <input type="number"
                   ng-model="$ctrl.bookDetails.publicationYear"
                   ng-min="1800"
                   class="form-control">
        </div>
        <div class="col-md-7">
            <div class="form-control-static text-muted">after in 1800</div>
        </div>
    </div>
    <div class="form-group">
        <label class="col-md-3 control-label">Release date</label>
        <div class="col-md-2">
            <datepicker date-format="yyyy-MM-dd">
                <input ng-model="$ctrl.bookDetails.releaseDate"
                       class="form-control"
                       type="text"/>
            </datepicker>
        </div>
        <div class="col-md-7">
            <div class="form-control-static text-muted">after in 01.01.1800</div>
        </div>
    </div>

    <div class="form-group">
        <label class="col-md-3 control-label">Image</label>
        <div class="col-md-9">
            <media-preview model="$ctrl.bookDetails.image"></media-preview>
        </div>
    </div>
    <div class="form-group">
        <div class="col-md-offset-3 col-md-9">
            <button type="submit" class="btn btn-primary">Submit</button>
        </div>
    </div>
</form>
<pre>{{$ctrl.bookDetails|json}}</pre>