<h1>Books</h1>
<table class="table">
    <thead>
    <tr>
        <th>Title</th>
        <th>ISBN</th>
        <th>Year</th>
        <th>Name</th>
        <th>Pages</th>
    </tr>
    </thead>
    <tbody>
    <tr ng-repeat="book in $ctrl.bookList">
        <td>
            <a href="" ui-sref="book.details({isbn:book.isbn})">
                {{book.title}}
            </a>
        </td>
        <td>
            {{book.isbn}}
        </td>
        <td>{{book.publicationYear}}</td>
        <td>{{book.authorData[0].firstName}} {{book.authorData[0].lastName}}</td>
        <td>{{book.pageCount}}</td>
    </tr>
    </tbody>
</table>
