<div class="clearfix">
    <h1>
        <button class="btn btn-default pull-right"
                ng-click="$ctrl.setDefaultBookList()">Set default data</button>
        Books
    </h1>
</div>

<div class="row">
    <div class="col-md-5">
        <div class="panel panel-default">
            <div class="panel-body panel-grey">
                <div class="row">
                    <div class="col-xs-8">
                        <div class="input-group">
                            <input type="text"
                                   ng-model="search"
                                   placeholder="Search ..."
                                   class="form-control">
                            <div class="input-group-btn">
                                <button type="button"
                                        class="btn btn-default dropdown-toggle"
                                        data-toggle="dropdown"
                                        bs-dropdown
                                        aria-haspopup="true"
                                        aria-expanded="false">
                                    <span class="glyphicon glyphicon-filter"></span>
                                    <span class="capitalize">{{$ctrl.order}}</span>
                                    <span class="caret"></span></button>
                                <ul class="dropdown-menu" role="menu" ng-model="$ctrl.order">
                                    <li>
                                        <a href="" ng-click="$ctrl.setOrder('title')">Title</a>
                                    </li>
                                    <li>
                                        <a href="" ng-click="$ctrl.setOrder('year')">Year</a>
                                    </li>
                                </ul>
                            </div><!-- /btn-group -->
                        </div><!-- /input-group -->
                    </div>
                    <div class="col-xs-4">
                        <a class="btn btn-primary btn-block"
                           href=""
                           ng-click="$ctrl.newBook()">
                            <span class="glyphicon glyphicon-plus"></span>
                            Add
                        </a>
                    </div>
                </div>
            </div>
            <div class="list-group">
                <a class="list-group-item"
                   href=""
                   ng-repeat="book in $ctrl.bookList | orderBy:$ctrl.order | filter:search"
                   ng-class="{'active':book.key == $ctrl.activeBook.key}"
                   ng-click="$ctrl.activeBook = book">
                    <span class="glyphicon glyphicon-chevron-right pull-right arrow-middle"></span>
                    <h4 class="list-group-item-heading">{{book.title}}</h4>
                    <p class="list-group-item-text">
                        by {{book.authors[0].firstName}} {{book.authors[0].lastName}},
                        {{book.year}}
                    </p>
                </a>
            </div>
        </div>
    </div>
    <div class="col-md-7">
        <div class="well well-lg text-center" ng-if="!$ctrl.activeBook">
            Please, select the book
        </div>

        <div class="panel panel-default" ng-if="$ctrl.activeBook && !$ctrl.startEdit" >
            <div class="panel-body  panel-grey clearfix">
                <p class="form-control-static pull-left">
                    Book details
                </p>
                <button class="btn btn-primary pull-right"
                        ng-click="$ctrl.startEdit = true">
                    <span class="glyphicon glyphicon-edit"></span>
                    Edit
                </button>
            </div>
            <div class="panel-body">
                <c-book-details book-details="$ctrl.activeBook"></c-book-details>
            </div>
        </div>

        <div class="panel panel-default" ng-if="$ctrl.activeBook && $ctrl.startEdit">
            <form name="editForm"
                  novalidate
                  ui-validation-submit="$ctrl.save(editForm)">
            <div class="panel-body panel-grey">
                <div class="row">
                    <div class="col-xs-6">
                        <p class="form-control-static">Edit</p>
                    </div>
                    <div class="col-xs-6 text-right">
                        <button type="button"
                                class="btn btn-default"
                                ng-click="$ctrl.cancel()">Cancel</button>
                        <button type="submit"
                                class="btn btn-primary">
                            <span class="glyphicon glyphicon-save"></span> Save
                        </button>
                    </div>
                </div>
            </div>
            <div class="panel-body">
                <c-book-form book-details="$ctrl.activeBook"></c-book-form>
            </div>
            </form>
        </div>

    </div>
</div>
