<div class="row">
    <div class="col-xs-4">
        <div class="thumbnail" ng-if="$ctrl.bookDetails.image">
            <img ng-src="{{$ctrl.bookDetails.image}}"
                 alt="{{$ctrl.bookDetails.title}}">
        </div>
        <div class="thumbnail" ng-if="!$ctrl.bookDetails.image && $ctrl.bookDetails.isbn && $ctrl.isIsbn($ctrl.bookDetails.isbn)">
            <img ng-src="{{$ctrl.getAmazonImgUrl($ctrl.bookDetails.isbn)}}"
                 alt="{{$ctrl.bookDetails.title}} (Image from Amazon)">
        </div>
    </div>
    <div class="col-xs-8">

        <div ng-if="$ctrl.bookDetails">
            <h3 class="details-header">
                <strong>{{$ctrl.bookDetails.title}}</strong>
            </h3>
            <h6>
                by <strong>{{$ctrl.authorsToString($ctrl.bookDetails.authors)}}</strong>
            </h6>

            <table class="table table-condensed book-options">
                <thead>
                <tr>
                    <th class="width40">Options</th>
                    <th></th>
                </tr>
                </thead>
                <tbody>
                <tr>
                    <td>ISBN</td>
                    <td>{{$ctrl.bookDetails.isbn}}</td>
                </tr>
                <tr>
                    <td>Publisher name</td>
                    <td>{{$ctrl.bookDetails.publisherName}}</td>
                </tr>
                <tr>
                    <td>Number of pages</td>
                    <td>{{$ctrl.bookDetails.pageCount}}</td>
                </tr>
                <tr>
                    <td>Publication year</td>
                    <td>{{$ctrl.bookDetails.year}}</td>
                </tr>
                <tr>
                    <td>Print date</td>
                    <td>{{$ctrl.bookDetails.printDate}}</td>
                </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>




